<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Hotels</title>
</head>
<body>

<div th:each="hotel : ${hotels}">
    <a th:href="@{/hotels/{id}(id=${hotel.getId()})}" th:text="${hotel.getName()}">hotel</a>
</div>

</body>
</html>