<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Hotels</title>
</head>
<body>

<p th:text="${hotel.getId()}"></p>
<p th:text="${hotel.getName()}"></p>
<p th:text="${hotel.getDescription()}"></p>
<p th:text="${hotel.getLang()}"></p>
<p th:text="${hotel.getRanking()}"></p>

</body>
</html>